@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: poppins;
}
body{
  background-color: #f5f5f5;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: #EDDB8D;
  border-radius: 10px;
}

button{
  cursor: pointer;
}


/* profile dropdown */
.dropdownProfile::before{
  content: '';
  position: absolute;
  top: -1rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  background-color: white;
  border-top-width: 2px;
  border-left-width: 2px;
  z-index: -10;
}

